<% if (title) { %>
    <h1><%= title %></h1>
    <p><%- messages() %></p>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>

    <div class="loginContainer">
        <form class="loginForm" action="/account/edit-account/<%- locals.accountData.account_id %>" method="post">
            <label for="accountFirstname">First Name</label>
            <input type="text" name="account_firstname" id="accountFirstname" required value="<%= account_firstname %>">

            <label for="accountLastname">Last Name</label>
            <input type="text" name="account_lastname" id="accountLastname" required value="<%= account_lastname %>">

            <label for="accountEmail">Email</label>
            <input type="email" name="account_email" id="accountEmail" required value="<%= account_email %>">

            <input type="hidden" name="account_id"
        <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
        <% } %>>

            <button class="submit-button" type="submit">Update Account</button>
        </form>
    </div>

    <div class="loginContainer">
        <form class="loginForm" action="/account/change-password/<%- locals.accountData.account_id %>" method="post">
            <label for="accountPassword">New Password</label>
            <input type="password" name="account_password" id="accountPassword" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

            <p>*Entering a password here will change the current password*</p>
            <p>The password must contain:</p>
            <ul>
                <li>a minimum of 12 characters</li>
                <li>at least one capital letter</li>
                <li>at least one number</li>
                <li>at least one special character</li>
            </ul>

            <input type="hidden" name="account_id"
        <% if(locals.accountData.account_id) { %> value="<%= locals.accountData.account_id %>"
        <% } %>>

            <button class="submit-button" type="submit">Update Password</button>
        </form>
    </div>

    <% } else {
      res.redirect('/')
    } %>

