<% if (title) { %>
    <h1 class="management-title"><%= title %></h1>
    <p class="management-messages"><%- messages() %></p>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>
      <% } %>
    <ul class="inbox-links">
        <li><a href="inbox/new-message">Create new message</a></li>
        <li><a href="inbox/archives">View <%- numArchived %> archived messages</a></li>
    </ul>

    <%- messageTable %>

<% } else {
    res.redirect('/')
    } %>