<% if (title) { %>
    <h1 class="management-title"><%= title %></h1>
    <p class="management-messages"><%- messages() %></p>
    <% if (errors) { %>
        <ul class="notice">
       <% errors.array().forEach(error => { %>
         <li><%= error.msg %></li>
      <%  }) %>
       </ul>

      <% } %>

      <ul>
        <li>
            <p>Subject: </p> 
            <p><%- message.message_subject %></p>
        </li>
        <li>
            <p>From: </p> 
            <p><%- message.message_from %></p>
        </li>
        <li>
            <p>Message: </p> 
            <p><%- message.message_body %></p>
        </li>
       </ul>

       <hr>

        <a href="/inbox">Return to inbox</a>
        <a href="/inbox/reply/<%- message.message_id %>">
            <button>Reply</button>
        </a>
        <form action="/inbox/mark-read/<%- message.message_id %>?_method=PUT" method="POST">
            <button type="submit">Mark as Read</button>
        </form>
        
        <form action="/inbox/archive/<%- message.message_id %>?_method=PUT" method="POST">
            <button type="submit">Archive Message</button>
        </form>
        
        <form action="/inbox/delete/<%- message.message_id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Message</button>
        </form>

<% } else {
    res.redirect('/')
  } %>